.search {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
}

.search-bar {
    font-size: 24px;
    color: #333;
    width: 80vw;
    height: 20vh;
    margin-bottom: 10px;
    text-align: center;
}

.search-button {
    font-size: 18px;
    width: 20vw;
    height: 10vh;
}

.results {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.actors {
    width: 40vw;
    border: 1px solid;
    margin: 5vw;
}

.actors h3 {
    text-align: center;
}

.details-header {
    display: flex;
    width: 100vw;
    height: 20vh;
    font-size: 24px;
    margin-left: 2vw
}

.details-content {
    display: flex;
    width: 30vw;
    flex-direction: column;
    margin-left: 2vw;
    border: 1px solid;
}

.details-content h2 {
    margin-left: 2vw;
}

.movies {
    width: 40vw;
    border: 1px solid;
    margin: 5vw;
}

.movies h3 {
    text-align: center;
}